# Default versions for the containers used in the appliance

CASO_IMAGE="egifedcloud/ops-caso:{{ appliance_tag }}"
CLOUDINFO_IMAGE="egifedcloud/ops-cloud-info:{{ appliance_tag }}"
CLOUDKEEPER_CORE_IMAGE="egifedcloud/ops-cloudkeeper-core:{{ appliance_tag }}"
CLOUDKEEPER_OS_IMAGE="egifedcloud/ops-cloudkeeper-os:{{ appliance_tag }}"
SSM_IMAGE="stfc/ssm:{{ ssm_tag }}"
