- hosts: all
  tasks:
  - name: Include cloud-init recipe
    include_tasks: cloud-init.yaml
  - name: Include "{{ansible_distribution_major_version}}" network recipe
    include_tasks: "network-centos{{ansible_distribution_major_version}}.yaml"
  - name: Include clean-up recipe
    include_tasks: clean.yaml
