- name: Create appliance directories
  file:
    path: "{{ item }}"
    state: directory
  with_items:
    - "/etc/cloudkeeper"
    - "/etc/cloudkeeper-os"
    - "/etc/apel"
    - "/etc/caso"
    - "/etc/cloud-info-provider"
    - "/var/spool/caso"
    - "/var/spool/apel"
    - "/var/lock/cloudkeeper"
    - "/image_data"

- name: Appliance configuration files
  get_url:
    url: "{{ base_url }}/{{ item.src }}"
    dest: "{{ item.dest }}"
  with_items:
    - src: "cloudkeeper/os/cloudkeeper-os.conf"
      dest: "/etc/cloudkeeper-os/cloudkeeper-os.conf"
    - src: "cloudkeeper/os/mapping.json"
      dest: "/etc/cloudkeeper-os/mapping.json"
    - src: "cloudkeeper/core/image-lists.conf"
      dest: "/etc/cloudkeeper/image-lists.conf"
    - src: "cloudkeeper/core/cloudkeeper.yml"
      dest: "/etc/cloudkeeper"
    - src: "accounting/caso/voms.json"
      dest: "/etc/caso/voms.json"
    - src: "accounting/caso/caso.conf"
      dest: "/etc/caso/caso.conf"
    - src: "cloud-info/cloud/openstack.rc"
      dest: "/etc/cloud-info-provider/openstack.rc"
    - src: "cloud-info/cloud/openstack.yaml"
      dest: "/etc/cloud-info-provider/openstack.yaml"

- name: Cloudkeeper-os service file
  template:
    src: cloudkeeper-os.service.j2
    dest: /etc/systemd/system/cloudkeeper-os.service

- name: cloudkeeper cron entry
  cron:
    name: cloudkeeper
    hour: "*/4"
    minute: 26
    job: "/usr/local/bin/cloudkeeper.sh >> /var/log/cloudkeeper.log 2>&1"

- name: cloud-info-provider cron entry
  cron:
    name: cloudinfo
    hour: "*"
    minute: "*/5"
    job: "/usr/local/bin/cloud-info.sh >> /var/log/cloud-info.log 2>&1"


- name: SSM Send config file
  copy:
    src: sender.cfg
    dest: /etc/apel/sender.cfg

- name: SSM logging config file
  copy:
    src: logging.cfg
    dest: /etc/apel/logging.cfg

- name: SSM cron entry
  cron:
    name: ssm
    hour: "*/6"
    minute: 30
    job: "/usr/local/bin/ssm-send.sh >> /var/log/ssm.log 2>&1"

- name: caso cron entry
  cron:
    name: caso
    hour: "*/4"
    minute: 14
    job: "/usr/local/bin/caso-extract.sh >> /var/log/caso.log 2>&1"

- name: cloud-info helper script
  template:
    src: cloud-info.sh.j2
    dest: /usr/local/bin/cloud-info.sh
    mode: 0755

- name: Cloudkeeper helper script
  template:
    src: cloudkeeper.sh.j2
    dest: /usr/local/bin/cloudkeeper.sh
    mode: 0755

- name: SSM helper script
  template:
    src: ssm-send.sh.j2
    dest: /usr/local/bin/ssm-send.sh
    mode: 0755

- name: cASO helper script
  template:
    src: caso-extract.sh.j2
    dest: /usr/local/bin/caso-extract.sh
    mode: 0755

- name: Enable services
  systemd:
    name: "{{ item }}"
    enabled: yes
  with_items:
    - cloudkeeper-os

- name: add CAs repo key
  apt_key: url="https://dist.eugridpma.info/distribution/igtf/current/GPG-KEY-EUGridPMA-RPM-3"

- name: add CAs repo
  apt_repository:
    repo: 'deb http://repository.egi.eu/sw/production/cas/1/current egi-igtf core'
    state: present
    update_cache: yes

- name: Install CAs and fetch-crl
  apt:
    name: ["ca-policy-egi-core", "fetch-crl"]
    state: present

#  - name: pull docker images
#    command: docker pull "{{ item }}"
#    with_items:
#      - "egifedcloud/cloudkeeper:{{ appliance_tag}}"
#      - "egifedcloud/cloudkeeper-os:{{ appliance_tag}}"
#      - "egifedcloud/cloud-info:{{ appliance_tag}}"
#      - "egifedcloud/caso:{{ appliance_tag}}"
#      - "stfc/ssm:{{ ssm_tag }}"
