#
# This manages the docker-compose for BDII
#
[Unit]
Description=BDII Service
After=docker.service
Requires=docker.service

[Service]
ExecStartPre=/usr/local/bin/docker-compose -f /etc/sitebdii/docker-compose.yml rm -v -f -s
ExecStart=/usr/local/bin/docker-compose -f /etc/sitebdii/docker-compose.yml up
ExecStop=/usr/local/bin/docker-compose -f /etc/sitebdii/docker-compose.yml stop

[Install]
WantedBy=multi-user.target

