[loggers]	
keys=root,SSM,Crypto,stomp.py	

 [handlers]	
keys=fileHandler,streamHandler	

 [formatters]	
keys=simpleFormatter	

 [logger_root]	
level=DEBUG	
handlers=streamHandler	

 # Pick up the logging from the stomppy package	
[logger_stomp.py]	
level=INFO	
handlers=streamHandler	
qualname=stomp.py	
propagate=0	

 # We use the SSM key so we get the streamHandler	
[logger_SSM]	
level=INFO	
handlers=streamHandler	
qualname=SSM	
propagate=0	

 [logger_Crypto]	
level=DEBUG	
handlers=streamHandler	
qualname=Crypto	
propagate=0	

 [handler_streamHandler]	
class=StreamHandler	
level=DEBUG	
formatter=simpleFormatter	
args=(sys.stderr,)	

 [handler_fileHandler]	
class=FileHandler	
level=DEBUG	
formatter=simpleFormatter	
args=('/var/log/apel/ssm.log', 'a')	

 [formatter_simpleFormatter]	
format=%(asctime)s - %(name)s - %(levelname)s - %(message)s	
datefmt=
